@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  color-scheme: dark;
  --bg-outer: #00141d;
  --bg: #01242e;
  --bg-elevated: #0b3642;
  --text: #dddddd;
  --border: #8cc2dd;
  --link: #8cc2dd;
  --link-hover: #b8e6ff;
}

.theme-light {
  color-scheme: light;
  --bg-outer: #e7ecf6;
  --bg: #f4f6fb;
  --bg-elevated: #ffffff;
  --text: #444444;
  --border: #3273dc;
  --link: #3273dc;
  --link-hover: #1c50a4;
}

html {
  background-color: var(--bg-outer);
}

body {
  scroll-padding-top: 100px;
  overflow-y: auto;
  @apply bg-[var(--bg)] text-[var(--text)];
  @apply max-w-4xl mx-auto min-h-screen;
  @apply lg:px-15 md:px-15 px-5;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

p, span, li {
  color: var(--text);
}

@theme {
  --font-sans: var(--font-ibm-plex-mono);
  --font-mono: var(--font-cascadia-mono);
}
