---
import Layout from '@layouts/Layout.astro';
import Link from '@components/Link.astro';
import SocialIcons from '@components/SocialIcons.astro';
import PublicationCard from '@components/PublicationCard.astro';

import { Image } from "astro:assets";
import { getCollection } from 'astro:content';

import profilePic from '@content/profile_pics.jpg';
import smose from '@content/publications/smose/smose.png';
import lastexam from '@content/publications/lastexam/lastexam.png';

const publicationImages = {
  lastexam: lastexam,
  smose: smose
};

const publications = (await getCollection('publications'))
  .filter((publication) => publication.data.draft !== true)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <div class="grid grid-cols-1 gap-x-4 lg:grid-cols-3 lg:gap-x-8">
    <div class="lg:col-span-2 flex flex-col justify-center">
      <div>
        <span class='font-[400] text-2xl text-[var(--text)]'>
          Hey! I'm Mátyás
        </span>
        <span class='font-[400] text-xl'>
          <Link href='https://ipa-reader.com/?text=%CB%88ma%CB%90ca%CB%90%CA%83' class="text-xl" external>
            [ˈmaːcaːʃ]
          </Link>
        </span>
      </div>
      <span class='font-[400] pt-4 pb-4'>
        I'm a second-year PhD student in Machine Learning at the
        <Link href='https://www.unitn.it/en' external>University of Trento</Link>,
        and
        <Link href='https://www.fbk.eu/en' external>Fondazione Bruno Kessler</Link>.
        Supervised by 
        <Link href='https://scholar.google.it/citations?user=JfcopG0AAAAJ&hl=en' external>Bruno Lepri</Link>
        and
        <Link href='https://sites.google.com/site/giovanniiacca/' external>Giovanni Iacca</Link>,
        I work on modularity and mixtures-of-mixtures.
        I deeply care about developing AI that is transparent and accessible for the masses beyond the hype.
      </span>
      <SocialIcons icon_size={'text-2xl'}/>
    </div>
    <div class="hidden lg:col-span-1 lg:flex lg:items-center lg:justify-center">
      <Image
        src={profilePic}
        alt=""
        class="rounded-md object-cover"
      />
    </div>
  </div>
  <p class='pt-6 pb-3'>
    <span class='text-xl text-[var(--text)]'>Updates</span>
    <ul>
      <li>
        <span class='font-mono'>[01/2026]:</span>
        I'll be visiting
        <Link href='https://www.mit.edu/' external>MIT</Link>
        for 3 months starting May 2026 🚀
      </li>
      <li>
        <span class='font-mono'>[01/2026]:</span>
        Driving license secured ✅
      </li>
      <li>
        <span class='font-mono'>[05/2025]:</span>
        ISCRA project accepted at
        <Link href='https://www.cineca.it/en#paragraph-id--217' external>CINECA</Link>
        (A100s go brrr)
      </li>
      <li>
        <span class='font-mono'>[03/2025]:</span>
        Attended
        <Link href='http://alps-2025.imag.fr/index.php/speakers/index.html' external>ALPS 2025</Link>
        winter school in Aussois, France
      </li>
      <li>
        <span class='font-mono'>[02/2025]:</span>
        Attended
        <Link href='https://aaai.org/conference/aaai/aaai-25/' external>AAAI 2025</Link>
        conference in Philadelphia, USA
      </li>
      <li>
        <span class='font-mono'>[12/2024]:</span>
        Paper accepted at
        <Link href='https://aaai.org/conference/aaai/aaai-25/' external>AAAI 2025</Link>
        conference
      </li>
      <li>
        <span class='font-mono'>[07/2024]:</span>
        Got 1st place at the
        <Link href='https://medvet.inginf.units.it/publications/2024-o-nrwm-interpretable/' external>Interpretable Control Competition</Link>
        - Gecco 2024
      </li>
    </ul>
  </p>
  <p class='justify-between flex pt-6 pb-3'>
    <span class='font-[500] text-xl text-[var(--text)]'>
      Publications
    </span>
    <Link href='/publications'>
      see all
    </Link>
  </p>
  <ul class='not-prose flex flex-col gap-3'>
    {publications.map((publication) => (
      <li>
        <PublicationCard publication={publication} publicationCardImage={publicationImages[publication.id]} />
      </li>
    ))}
  </ul>
</Layout>

