---
import Link from '@components/Link.astro';
import SocialIcons from '@components/SocialIcons.astro';
---

<footer class="text-sm opacity-90 font-mono mt-15 mb-5">
  <SocialIcons icon_size={'text-lg'} />
  <p class='mt-0.5'>&copy; {new Date().getFullYear()} Mátyás Vincze</p>
  Built with Astro based on 
  <Link href='https://astro-micro-academic.vercel.app/' external=true>Astro Micro Academic</Link> 
  by 
  <Link href='https://jingwu2121.github.io/' external=true>Jing Wu</Link>
</footer>

