---
import Link from '@components/Link.astro';
---

<header class="text-center font-mono pt-3 pb-10">
  <div>
    <Link href='/'>home</Link>
    <span>
      {'/'}
    </span>
    <Link href='/publications'>publications</Link>
    <span>
      {'/'}
    </span>
    <Link href='/CV_MatyasVincze.pdf' external=true>cv</Link>
  </div>
</header>

