---
import { mergeClassNames } from '../utils.ts';

type Props = { 
  href: string;
  external?: boolean;
  color?: string;
};

const { href, external, color } = Astro.props;
---

<a
  href={href}
  target={external ? '_blank' : '_self'} 
  class={ 'inline-block text-[#8cc2dd] hover:underline hover:underline-offset-[2px]' }
>
  <slot />
</a>

