---
import type { Heading } from "@components/TableOfContents.astro";
import Link from "@components/Link.astro";

// https://kld.dev/building-table-of-contents/
const { heading } = Astro.props;
---

<li class="list-inside list-disc px-6 py-0.5 text-sm text-[var(--text)]">
  <Link href={"#" + heading.slug} underline>
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>

